<section class="contact">
  <div class="container">
    <div class="contact__title title-2">
      <h2>Contact</h2>
    </div>
    <div class="contact__map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d848.0686855880513!2d-73.98568437072055!3d40.758215656491096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25855c6480299%3A0x55194ec5a1ae072e!2z0KLQsNC50LzRgSDRgdC60LLQtdGA!5e0!3m2!1sru!2sua!4v1691932612600!5m2!1sru!2sua"
        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="contact__info">
      <div class="contact__block">
        <div class="contact__block-title title-3">
          <h3>Контакты</h3>
        </div>
        <span>+7 (812) 123-45-67</span>
        <span>+7 (911) 123-45-67</span>
        <span>Новоостровский проспект, дом 36 лит. С</span>
      </div>
      <div class="contact__block">
        <div class="contact__block-title title-3">
          <h3>Режим работы</h3>
        </div>
        <span>C 10:00 до 21:00 (Пн-Пт)</span>
        <span>С 11:00 до 20:00 (Сб-Вс)</span>
      </div>
      <div class="contact__block">
        <div class="contact__block-title title-3">
          <h3>Контакты</h3>
        </div>
        <span>+7 (812) 123-45-67</span>
        <span>+7 (911) 123-45-67</span>
        <span>Новоостровский проспект, дом 36 лит. С</span>
      </div>
      <div class="contact__block">
        <div class="contact__block-title title-3">
          <h3>Режим работы</h3>
        </div>
        <span>C 10:00 до 21:00 (Пн-Пт)</span>
        <span>С 11:00 до 20:00 (Сб-Вс)</span>
      </div>
    </div>
  </div>
</section>
