<section class="employers">
  <div class="container">
    <div class="employers__title title-2">
      <h2>Our employers</h2>
    </div>
    <div class="employers__list">
      <div class="employers__card">
        <div class="employers__card-img">
          <img src="img/employer1.jpg" alt="">
        </div>
        <p>Example Example</p>
        <span>Example</span>
      </div>
      <div class="employers__card">
        <div class="employers__card-img">
          <img src="img/employer2.jpg" alt="">
        </div>
        <p>Example Example</p>
        <span>Example</span>
      </div>
      <div class="employers__card">
        <div class="employers__card-img">
          <img src="img/employer1.jpg" alt="">
        </div>
        <p>Example Example</p>
        <span>Example</span>
      </div>
    </div>
    <div class="employers__list">
      <div class="employers__card">
        <div class="employers__card-img">
          <img src="img/employer3.jpg" alt="">
        </div>
        <p>Example Example</p>
        <span>Example</span>
      </div>
      <div class="employers__card">
        <div class="employers__card-img">
          <img src="img/employer4.jpg" alt="">
        </div>
        <p>Example Example</p>
        <span>Example</span>
      </div>
      <div class="employers__card">
        <div class="employers__card-img">
          <img src="img/employer5.jpg" alt="">
        </div>
        <p>Example Example</p>
        <span>Example</span>
      </div>
    </div>
  </div>
</section>
