<section class="examples">
  <div class="container">
    <div class="examples__title title-2">
      <h2>Our works</h2>
    </div>
    <nav class="examples__links">
      <ul>
        <li><a href="/">Показать все</a></li>
        <li><a href="/">Парикмахерские услуги</a></li>
        <li><a href="/">Маникюр</a></li>
        <li><a href="/">Педикюр</a></li>
      </ul>
    </nav>
    <div class="examples__work">
      <div class="examples__photo"><img src="img/examples1.png" alt=""></div>
      <div class="examples__photo"><img src="img/examples2.png" alt=""></div>
      <div class="examples__photo"><img src="img/examples3.png" alt=""></div>
    </div>
    <div class="examples__work">
      <div class="examples__photo"><img src="img/examples4.jpg" alt=""></div>
      <div class="examples__photo"><img src="img/examples5.jpg" alt=""></div>
      <div class="examples__photo"><img src="img/examples6.jpg" alt=""></div>
    </div>
    <div class="examples__work">
      <div class="examples__photo"><img src="img/examples7.jpg" alt=""></div>
      <div class="examples__photo"><img src="img/examples8.jpg" alt=""></div>
      <div class="examples__photo"><img src="img/examples9.jpg" alt=""></div>
    </div>
  </div>
</section>
