<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__block footer__block-logo"><img src="img/saloon-icon.svg" alt=""></div>
      <div class="footer__block">
        <div class="footer__title title-3">
          <h3>Контакты</h3>
        </div>
        <p>+7 (812) 123-45-67</p>
        <p>+7 (911) 123-45-67</p>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
      <div class="footer__block">
        <div class="footer__title title-3">
          <h3>Режим работы</h3>
        </div>
        <p>C 10:00 до 21:00 (Пн-Пт)</p>
        <p>С 11:00 до 20:00 (Сб-Вс)</p>
      </div>
      <div class="footer__block">
        <div class="footer__title title-3">
          <h3>Мы в Instagram</h3>
        </div>
        <div class="footer__block-inst"><img src="img/instagram.svg" alt=""></div>

      </div>
    </div>
    <div class="footer__bottom">
      <span>Copyright © 2017 - 2022</span>
    </div>
  </div>
</footer>



