<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="nav__list">
        <li>
          <a href="/">
            <div class="header__icon header__icon-first"><img src="img/instagram.svg" alt=""></div>
          </a>
        </li>
        <li><a href="map.html">Главная</a></li>
        <li><a href="/">Мастера</a></li>
        <li><a href="/">Косметика</a></li>
        <li>
          <a href="/">
            <div class="header__icon header__icon-big"><img src="img/saloon-icon.svg" alt=""></div>
          </a>
        </li>
        <li><a href="/">Акции</a></li>
        <li><a href="/">Отзывы</a></li>
        <li><a href="/">Контакты</a></li>
        <li class="burger">
          <div>
            <button class="header__icon header__icon-burger">
              <span></span><span></span><span></span></button>
          </div>
        </li>
        <li class="pacifier">
          <div></div>
        </li>
      </ul>
    </nav>
    <div class="menu">
      <div class="menu__container">
        <ul>
          <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipsum, adipiscing amet
            in egestas sem
            dui, arcu
            faucibus scelerisque. Nisl est felis id volutpat. Sed dolor fermentum amet lectus nibh quis. Tortor donec
            pellentesque leo ac placerat. Morbi.</p>
          </li>
        </ul>
        <ul>
          <li><p>Контакты</p></li>
          <li><p>+380 000000001</p></li>
          <li><p>+380 000000001</p></li>
          <li><p>Lorem ipsum dolor sit.</p></li>
        </ul>
        <ul>
          <li><p>Режим работы</p></li>
          <li><p>C 10:00 до 21:00 (Пн-Пт)</p></li>
          <li><p>С 11:00 до 20:00 (Сб-Вс)</p></li>
        </ul>
      </div>
    </div>
  </div>
</header>
