<section class="price">
  <div class="container">
    <div class="price__title title-2">
      <h2>Price-list</h2>
    </div>
    <div class="price__block">
      <div class="price__img">
        <img src="img/price-img.jpg" alt="">
      </div>
      <div class="price__list">
        <div class="price__service">
          <div class="price__service-block">
            <p>Lorem ipsum.</p>
            <span>1000 $</span>
          </div>
          <p>Lorem ipsum dolor sit.</p>
        </div>
        <div class="price__service">
          <div class="price__service-block">
            <p>Lorem ipsum.</p>
            <span>1000 $</span>
          </div>
          <p>Lorem ipsum dolor sit.</p>
        </div>
        <div class="price__service">
          <div class="price__service-block">
            <p>Lorem ipsum.</p>
            <span>1000 $</span>
          </div>
          <p>Lorem ipsum dolor sit.</p>
        </div>
        <div class="price__service">
          <div class="price__service-block">
            <p>Lorem ipsum.</p>
            <span>1000 $</span>
          </div>
          <p>Lorem ipsum dolor sit.</p>
        </div>
      </div>
    </div>
    <div class="price__block">
      <div class="price__img">
        <img src="img/price-img.jpg" alt="">
      </div>
      <div class="price__list">
        <div class="price__service">
          <div class="price__service-block">
            <p>Lorem ipsum.</p>
            <span>1000 $</span>
          </div>
          <p>Lorem ipsum dolor sit.</p>
        </div>
        <div class="price__service">
          <div class="price__service-block">
            <p>Lorem ipsum.</p>
            <span>1000 $</span>
          </div>
          <p>Lorem ipsum dolor sit.</p>
        </div>
        <div class="price__service">
          <div class="price__service-block">
            <p>Lorem ipsum.</p>
            <span>1000 $</span>
          </div>
          <p>Lorem ipsum dolor sit.</p>
        </div>
        <div class="price__service">
          <div class="price__service-block">
            <p>Lorem ipsum.</p>
            <span>1000 $</span>
          </div>
          <p>Lorem ipsum dolor sit.</p>
        </div>
      </div>
    </div>
    <div class="price__block">
      <div class="price__img">
        <img src="img/price-img.jpg" alt="">
      </div>
      <div class="price__list">
        <div class="price__service">
          <div class="price__service-block">
            <p>Lorem ipsum.</p>
            <span>1000 $</span>
          </div>
          <p>Lorem ipsum dolor sit.</p>
        </div>
        <div class="price__service">
          <div class="price__service-block">
            <p>Lorem ipsum.</p>
            <span>1000 $</span>
          </div>
          <p>Lorem ipsum dolor sit.</p>
        </div>
        <div class="price__service">
          <div class="price__service-block">
            <p>Lorem ipsum.</p>
            <span>1000 $</span>
          </div>
          <p>Lorem ipsum dolor sit.</p>
        </div>
        <div class="price__service">
          <div class="price__service-block">
            <p>Lorem ipsum.</p>
            <span>1000 $</span>
          </div>
          <p>Lorem ipsum dolor sit.</p>
        </div>
      </div>
    </div>
  </div>
</section>
