<section class="work">
  <div class="container work__container">
    <div class="work__commentaries">
      <img src="img/work-paws.svg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In arcu nibh vitae amet. Ipsum, pharetra donec ornare
        velit. Id at quisque accumsan risus ac ipsum ut. Sit elit, facilisi proin non malesuada sociis tristique.
        Viverra augue lorem ut quisque quam tortor, malesuada iaculis.
      </p>
      <p> Et elementum at nulla venenatis, faucibus integer. Auctor neque eros, viverra rutrum. Fames ultrices
        condimentum
        tortor nec penatibus. Velit imperdiet sapien fringilla vestibulum sit fames</p>
    </div>
    <div class="work__examples">
      <div class="work__card"><img src="img/work-example1.jpg" alt="">
        <p>Парикмахерские услуги</p></div>
      <div class="work__card"><img src="img/work-example2.jpg" alt="">
        <p>Маникюр</p></div>
      <div class="work__card"><img src="img/work-example3.jpg" alt="">
        <p>Педикюр</p></div>
    </div>
    <div class="work__examples">
      <div class="work__card"><img src="img/work-example1.jpg" alt="">
        <p>Косметология</p></div>
      <div class="work__card"><img src="img/work-example2.jpg" alt="">
        <p>Эстетист по телу</p></div>
      <div class="work__card"><img src="img/work-example3.jpg" alt="">
        <p>Визаж</p></div>
    </div>
    <div class="work__companies">
      <div><img src="img/work-logo1.png" alt=""></div>
      <div><img src="img/work-logo2.png" alt=""></div>
      <div><img src="img/work-logo3.png" alt=""></div>
      <div><img src="img/work-logo4.png" alt=""></div>
    </div>
  </div>
</section>
